---
import Link from "./ui/link.astro";
import { Icon } from "astro-icon/components";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Start Learning Smarter Today
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Join thousands of students who are already using Mathi to excel in their studies.
    Download now and transform your learning experience!
  </p>
  <div class="flex mt-5 gap-4">
    <Link href="https://play.google.com/store/apps/details?id=studio.komkat.mathi_android" style="inverted" class="flex items-center gap-2" target="_blank">
      <Icon class="w-5 h-5" name="bx:bxl-play-store" />
      Play Store
    </Link>
    <Link href="" style="inverted" class="flex items-center gap-2">
      <Icon class="w-5 h-5" name="bx:bxl-apple" />
      App Store
    </Link>
  </div>
</div>
